@charset "utf-8";
/* CSS Document */

.right {
	margin-left:auto; 
	margin-right:0px;
} 

.page-header {
	display: inline-block;	
}

.grey {
	background-color:#1e1e1e;
	height: 420px;
    width: 100px;
	opacity: 0.4;
	margin-left:auto;
	margin-right:0px;
	z-index:1;
	margin-top:-420px;
}

.modal {
	max-width:290px;
	min-width:291px;
	margin-left:-150px;
	margin-right:auto;
}

.forward {
	position:absolute;
	z-index:2;
	margin-left:872px;
	margin-top:-225px;
}

.wiecej {
	margin-left:48px;	
}

.heart {
	color:#ce171f;
	text-decoration:none;
	font-size:15px;
	margin-right:80px;
}

.menu-right {
	width:228px;;
}


.none {
	position:absolute;
	list-style-type:none;	
	width:270px;
	height:400px;	
	display:inline-block;
	margin-top:-50x;
	margin-right:300px;
	overflow-x:hidden;
	overflow-y:scroll;
}

#okolica {

}

videoMini {
	position:absolute;
	width:100px;
	margin-right:200px;
}

.opis {
	position:relative;
	width:90px;
	padding-left:30px;
	padding-bottom:10px;
	display:block;
	float:right;
	margin-right:-2px;
	margin-top:0px;
}

.powierzchnia {
	float:left;
	margin-right:auto;
	margin-left:-30px;
}


.adres {
	float:left;
	margin-right:auto;
	margin-left:-30px;
}

.cena {
	float:left;
	margin-right:auto;
	margin-left:-30px;
}

.video {
	margin-top:-40px;
	margin-bottom:auto;	
}



.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:left; }
*+html .centered-pills ul.nav-pills { display:inline; } /* IE7 */
	
